div.row {margin:0;width:99.8%;}
div.cols20 {float:left;width:20%}
div.cols30 {float:left;width:30%}
div.cols50 {float:left;width:50%}
div.cols70 {float:left;width:70%}
div.cols80 {float:left;width:80%}

ul.square{list-style:square}
ul.circle{list-style:circle}
ul.disc{list-style:disc}
ul.typea ol.typea {list-style-type:lower-alpha}
ul.typei ol.typei {list-style-type:lower-roman}

div.width80{width:90%}
br.clearboth{clear:both}

.floatRight{float:right}
div.width30{width:30%}
div.width50{width:50%}
div.width70{width:70%}
div.alignCenter{margin-left:auto;margin-right:auto}
table.alignCenter{margin-left:auto;margin-right:auto}
