/*cc9=tan, 9c9=light green, 696=dark green */

/* CLF 2.0 TEMPLATE VERSION 1.03 | VERSION 1.03 DU GABARIT NSI 2.0 */
/* GENERAL CSS BEGINS | DEBUT DU CSS GENERAL */
body {
	background-color: #787;		/*ESST - required by NRCan (yuck! - should be white)*/
}
div.colLayout {
	background-color: #FFF;
	height: 100%;
}
/* GENERAL CSS ENDS | FIN DU CSS GENERAL */

/* FIP HEADER CSS BEGINS | DEBUT DU CSS DE L'EN-TETE PCIM */
div.fip, div.cwm {
	height: 20px;
}
div.cwm img {
	padding-top: 0px;
}
/* FIP HEADER CSS ENDS | FIN DU CSS DE L'EN-TETE PCIM */

/* INSTITUTIONAL BANNER CSS BEGINS | DEBUT DU CSS DE LA BANNIERE INSTITUTIONNELLE */
div.banner {
	color: #FFF;
	background: #369 url(../images/bbg.jpg) no-repeat;      /*ESST - modified - relative to this file in /_sys/css */
}
div.banner-eng, div.banner-lfcoa-eng {
	background: url() #FFF no-repeat center center;
}
div.banner-fra, div.banner-lfcoa-fra {
	background: url() #FFF no-repeat center center;
}
/* INSTITUTIONAL BANNER CSS ENDS | FIN DU CSS DE LA BANNIERE INSTITUTIONNELLE */

/* SKIP NAVIGATION CSS BEGINS | DEBUT DU CSS DU SAUT DE NAVIGATION */
div.page div.core div.navaid {
	width: 450px;
	padding-left: 50px;
	z-index: -1;		/*ESST - hack for http://www.tbs-sct.gc.ca/clf2-nsi2/tb-bo/td-dt/gcttg-gtmgc-eng.asp#cn_6.3.2.17 problem - jag*/
}
* html div.page div.core div.navaid {
	width: 450px;
	padding-left: 50px;
}
*:first-child+html div.page div.core div.navaid {
	width: 450px;
	padding-left: 50px;
}
div.page div.core div.navaid a:hover,
div.page div.core div.navaid a:active,
div.page div.core div.navaid a:focus {
	color: #000;
	background-color: #CC9; /*ESST - this colour doesn't show up anywhere*/
	border-color: #000;
}
/* SKIP NAVIGATION CSS ENDS | FIN DU CSS DU SAUT DE NAVIGATION */

/* GENERAL NAVIGATION CSS BEGINS | DEBUT DU CSS DE NAVIGATION GENERALE */
h2.nav, h2.nav a:link, h2.nav a:visited {
	background-color: #369;		/*ESST - changed to blue*/
	color: #FFF;
	text-decoration: none;
}
h2.nav a:hover {
	text-decoration: underline;
}
div.right li ul.nav {
	border: 1px solid #000;
}
/* GENERAL NAVIGATION CSS ENDS | FIN DU CSS DE NAVIGATION GENERALE */

/* SIDE MENU CSS BEGINS | DEBUT DU CSS DU MENU LATERAL */
div.left li.menucontent,      div.left div.menucontent,
div.left li.menucontent_esst, div.left div.menucontent_esst {
	border-bottom: 1px dotted #FFF;
}
div.left li.menucontent,      div.left div.menucontent,      div.left a.menulink {
	color: #000;
	background-color: #eee;		/* ESST - grey to match NRCan pages */
}

div.left li.menucontent_esst, div.left div.menucontent_esst, div.left a.menulink_esst {
	color: #000;
	background-color: #dfe4d9;	/* ESST - for site map, contact and help on left menu */
}

div.right li.menucontent,      div.right div.menucontent,
div.right li.menucontent_esst, div.right div.menucontent_esst {
	color: #000;
	background-color: #FFF;
}
div.right a.menulink,
div.right a.menulink_esst {
	color: #000;
	background-color: #FFF;
}
div.prodis {
	background-color: #369;	/*ESST - changed to blue*/
}
/* SIDE MENU CSS ENDS | FIN DU CSS DU MENU LATERAL */

/* CONTENT CSS BEGINS | DEBUT DU CSS DU CONTENU */
div.center h1, h2, h3, h4, h5, h6 {
	color: #000;
}
div.center a:link {
	color: #039;
}
div.center a:visited {
	color: #663;
}
div.blackborder {
	border: solid #000 1px;
}
div.blackborder:after {
	content: ""; 
	display: block; 
	height: 0; 
	clear: left;
	visibility: hidden;
}
/* CONTENT CSS ENDS | FIN DU CSS DU CONTENU */

/* FOOTER CSS BEGINS | DEBUT DU CSS DU PIED DE LA PAGE */
div.footer div.footerline {
	background-color: #369;	/*ESST - changed to blue */
}
div.footer a:link, div.footer a:visited, div.center div.footer a:link, div.center div.footer a:visited, div.center div.topPage a:link, div.center div.topPage a:visited, div.center p.topPage a:link, div.center p.topPage a:visited {
	color: #039;
	background-color: #FFF;
}
/* FOOTER CSS ENDS | FIN DU CSS DU PIED DE LA PAGE */
