/* colours
	003366 - dark blue
	336699 - ESS blue	
	ffcc66 - gold - table
	cc9933 - gold - bullet
	993300 - dark gold 'self' bullet
	996600 - brown
	f8d58b - orange
*/

/*these colours conform to the 25-year old obsolete standard for Web-safe colours, as required for CLF*/

/*------------------------------------------------------*
 | generic styles					|
 *------------------------------------------------------*/
/*h1 & h2 are the same as esst_pagetitle, esst_pagetitle2*/
h1 {		font-size:	14pt;
		color:		#003366;
		background:	white
	}

caption {	font-weight: bold; }
dt {		margin-top:  10px;
		font-weight: bold; }

img	{	border-width: 0px; }
a img	{	border-width: 1px; }

acronym
	{
		color:		black;
		background:	white;	/*#cccccc too dark, #eeeeee preferred but illegal*/
		border-bottom:	1px dotted #336699;
		/*font-weight:	bold; */
		cursor:		help;
	}

/*------------------------------------------------------*
 | for search results (_search.php)			|
 *------------------------------------------------------*/
span.highlight_text,
span.highlight_text_yellow
	{
		color:		black;
		background:	#ffff00;
	}
span.highlight_text_cyan
	{
		color:		black;
		background:	#00ffff;
	}
span.highlight_text_magenta
	{
		color:		black;
		background:	#ff66ff;	/*ff00ff is too dark*/
	}
span.highlight_text_green
	{
		color:		black;
		background:	#00ff00;
	}


/*------------------------------------------------------*
 | hr							|
 *------------------------------------------------------*/
hr,hr.center50,hr.centre50,hr.left50,hr.right50
	{
		color:		#993300;	/*intranet: 336699*/
		background:	white;
		height:		1px;
		text-align:	center;
	}

hr.left50
	{
		text-align: left;		/*this will align it left for IE*/
		margin: 0 auto 0 0;		/*this will align it left for Mozilla*/
	}

hr.right50
	{
		text-align: right;		/*this will align it right for IE*/
		margin: 0 0 0 auto;		/*this will align it right for Mozilla*/
	}

hr.center50,hr.centre50,hr.left50,hr.right50
	{
		width:		50%;
	}

form.esst_form_nomargins
	{
		margin-top:		0;
		margin-bottom:		0;
	}


/*------------------------------------------------------*
 | page titles							|
 *------------------------------------------------------*/
.esst_pagetitle	{
		color:		#003366;
		background:	white;
		font-size:	14pt;
		font-family:	arial,helvetica,sans-serif;
		font-weight:	bold;
		text-align:	center;
	}

.esst_pagetitle2 {
		color:		black;
		background:	white;
		font-size:	12pt;
		font-family:	arial,helvetica,sans-serif;
		font-weight:	bold;
		text-align:	center;
	}

.esst_pagetitle2left {
		color:		black;
		background:	white;
		font-size:	12pt;
		font-family:	arial,helvetica,sans-serif;
		font-weight:	bold;
		text-align:	left;
	}


/*------------------------------------------------------*
 | banners						|
 | For each code used in:				|
 |	esst_banner_xxx					|
 | a style must exist here for it, which identifies	|
 | the image filename, text location and size		|
 *------------------------------------------------------*/
/*don't touch these*/
div.esst_banner_adapt,
div.esst_banner_cccm,
div.esst_banner_ccrs,
div.esst_banner_csrs,
div.esst_banner_eh,
div.esst_banner_eods,
div.esst_banner_ercc,
div.esst_banner_esic,
div.esst_banner_ess,
div.esst_banner_gdr,
div.esst_banner_geoscape,
div.esst_banner_gm,
div.esst_banner_gom,
div.esst_banner_gsc,
div.esst_banner_ipygeonorth,
div.esst_banner_ms,
div.esst_banner_msb,
div.esst_banner_napl,
div.esst_banner_pcsp,
div.esst_banner_rrnh,
div.esst_banner_tgi
{
	margin:			0;
	padding:		0;
	background-repeat:	no-repeat;
	background-color:	#fff;
	background-position:	top left;
	height:			60px;
	/*border:		1px dotted black; - use this for checking actual location of image*/
}

/*don't touch these*/
div.esst_banner_adapt p,
div.esst_banner_cccm p,
div.esst_banner_ccrs p,
div.esst_banner_csrs p,
div.esst_banner_eh p,
div.esst_banner_eods p,
div.esst_banner_ercc p,
div.esst_banner_esic p,
div.esst_banner_ess p,
div.esst_banner_gdr p,
div.esst_banner_geoscape p,
div.esst_banner_gm p,
div.esst_banner_gom p,
div.esst_banner_gsc p,
div.esst_banner_ipygeonorth p,
div.esst_banner_ms p,
div.esst_banner_msb p,
div.esst_banner_napl p,
div.esst_banner_pcsp p,
div.esst_banner_rrnh p,
div.esst_banner_tgi p
{
	position:	relative;
	color:		#003366; /* blue #336699; */
	background:	transparent;
	font-weight:	bold; 
	z-index:	1;
	padding:	0;
}

/*change the image if you wish*/
div.esst_banner_adapt	{	background-image: url(/_sys/images/esst_banner_adapt.jpeg)	}
div.esst_banner_cccm	{	background-image: url(/_sys/images/esst_banner_cccm.jpeg)	}
div.esst_banner_ccrs	{	background-image: url(/_sys/images/esst_banner_ccrs.jpeg)	}
div.esst_banner_csrs	{	background-image: url(/_sys/images/esst_banner_csrs.jpeg)	}
div.esst_banner_eh	{	background-image: url(/_sys/images/esst_banner_eh.jpeg)		}
div.esst_banner_eods	{	background-image: url(/_sys/images/esst_banner_eods.jpeg)	}
div.esst_banner_ercc	{	background-image: url(/_sys/images/esst_banner_ercc.jpeg)	}
div.esst_banner_esic	{	background-image: url(/_sys/images/esst_banner_esic.jpeg)	}
div.esst_banner_ess	{	background-image: url(/_sys/images/esst_banner_ess.jpeg)	}
div.esst_banner_gdr	{	background-image: url(/_sys/images/esst_banner_gdr.jpeg)	}
div.esst_banner_geoscape{	background-image: url(/_sys/images/esst_banner_geoscape.jpeg)	}
div.esst_banner_gm	{	background-image: url(/_sys/images/esst_banner_gm.jpeg)		}
div.esst_banner_gom	{	background-image: url(/_sys/images/esst_banner_gom.jpeg)		}
div.esst_banner_gsc	{	background-image: url(/_sys/images/esst_banner_gsc.jpeg)	}
div.esst_banner_ipygeonorth {	background-image: url(/_sys/images/esst_banner_ipygeonorth.jpeg)}
div.esst_banner_ms	{	background-image: url(/_sys/images/esst_banner_ms.jpeg)		}
div.esst_banner_msb	{	background-image: url(/_sys/images/esst_banner_msb.jpeg)	}
div.esst_banner_napl	{	background-image: url(/_sys/images/esst_banner_napl.jpeg)	}
div.esst_banner_pcsp	{	background-image: url(/_sys/images/esst_banner_pcsp.jpeg)	}
div.esst_banner_rrnh	{	background-image: url(/_sys/images/esst_banner_rrnh.jpeg)	}
div.esst_banner_tgi	{	background-image: url(/_sys/images/esst_banner_tci.jpeg)	}

/*change the text location and size if you wish (to match the overlaid text title)*/
div.esst_banner_adapt p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_cccm p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_ccrs p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_csrs p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_eh p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_eods p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_ercc p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_esic p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_ess p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 14pt;}
div.esst_banner_gdr p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_geoscape p {	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_gm p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_gom p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_gsc p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 12pt;}
div.esst_banner_ipygeonorth p {	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_ms p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_msb p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_napl p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_pcsp p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_rrnh p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}
div.esst_banner_tgi p	{	margin-left: 10px; top: 20px; left: 0px; font-size: 10pt;}


/*-------------------------------------------------------*
 | emitsectiontitle() - horizontal bar for page sections |
 *-------------------------------------------------------*/
div.esst_sectiontitle,
tr.esst_sectiontitle_table,
th.esst_sectiontitle_table,
td.esst_sectiontitle_table
	{
		color:		white;
		background:	#336699;
		font-weight:	bold;
		font-style:	italic;
		border-left:	2px solid #6699cc;
		border-top:	1px solid #6699cc;
		border-bottom:	2px solid black;
		border-right:	2px solid black;
		padding-left:	5px;
	}

div.esst_sectiontitle
	{	width:		98%;	/*100% won't work! */
	}




/*------------------------------------------------------*
 | boxes, panels, tables				|
 | (many of these are 98% width so the right side isn't	|
 | clipped)						|
 *------------------------------------------------------*/
.esst_tip
	{
		color:		black;
		background:	white;
		border:		1px dotted #996600; /*intranet: cc9933*/
		width:		98%;
		margin:		0;
		text-align:	left;
		padding:	2px;
	}

.esst_alert
	{
		color:		black;
		background:	white;
		border:		1px solid red;
		width:		98%;
		text-align:	left;
		padding:	2px;
	}

.esst_alert2
	{
		color:		red;
		background:	white;
		margin-top:	10px;
		margin-bottom:	10px;
		border:		3px double red;
		font-weight:	bold;
		text-align:	left;
		width:		96%;
		padding:	2px;
	}

.blueframe {
		color:		black;
		background:	white;
		border:		1px solid #336699;
		width:		99%;
	}

.esst_feature
	{
		color:		black;
		background:	white;
		border:		3px double #336699;
		text-align:	left;
		width:		96%;
		padding:	5px;
	}


/*------------------------------------------------------*
 | esst_table						|
 *------------------------------------------------------*/
/*leave the 'caption' element normal size - only small for td/th*/
.esst_small,
table.esst_table_small td,
table.esst_table_small th,
option.textdividersmall
	{
		font-size:	8pt;
	}

.esst_smallest,
table.esst_table_smallest td,
table.esst_table_smallest th
	{
		font-size:	7pt;
	}

table.center,table.centre {	margin-left: auto;
				margin-right: auto;
			}

table.esst_table, table.esst_table_small, table.esst_table_smallest
	{
		color:		black;
		background:	white;		/*#fffffd preferred, but illegal*/
		border:		1px solid #ffcc66;	/*intranet cc9933*/
		padding:	2px;
	}

table.esst_table th, table.esst_table_small th, table.esst_table_smallest th, tr.esst_datatable_header
	{
		color:		#000066;
		background:	#f8d58b;	/*pale yellow - #ffffcc, fff0c0; preferred, but illegal*/
		border-left:	1px solid #ffcc99;
		border-top:	1px solid #ffcc99;
		border-bottom:	1px solid #cc9900;
		border-right:	1px solid #cc9900;
	}


/*------------------------------------------------------*
 | table for showhighlights()				|
 | this should be a div someday 			|
 *------------------------------------------------------*/
table.esst_highlights {
		color:		black;
		background:	white;		/*#fff0c0; preferred, but illegal*/
		border:		1px solid #cc9900;
	}

table.esst_highlights th {
		color:		#000066;
		background:	#f8d58b;	/* pale yellow - #ffffcc; #fff0c0 preferred, but illegal*/
		font-weight:	bold;
		font-style:	italic;
		text-align:	left;
		border-left:	1px solid #ffcc99;
		border-top:	1px solid #ffcc99;
		border-bottom:	1px solid #cc9900;
		border-right:	1px solid #cc9900;
	}

/*------------------------------------------------------*
 | showimagetable()					|
 *------------------------------------------------------*/
table.images td {	border:			1px dotted #336699; }



/*------------------------------------------------------*
 | picframe						|
 *------------------------------------------------------*/
div.esst_picframe,
div.esst_picframe_left,
div.esst_picframe_right,
div.esst_picframe_invisible {
		color:		black;
		padding:	4px;	/*text to border*/
	}

div.esst_picframe,
div.esst_picframe_left,
div.esst_picframe_right {
		background:	#fffff8;		/*#ffffcc & #ccffff are too bright*/
		border:		1px solid #000099;
}

div.esst_picframe_invisible{
		background:	transparent;
		border:		0;
}

div.esst_picframe {		margin:	5px; }

div.esst_picframe_left {	float:  left;
				margin: 5px 5px 5px 0;
				vertical-align: text-top;
			}
div.esst_picframe_right {	float: right;
				margin: 5px 0 5px 5px;
				vertical-align: text-top;
			}

/*------------------------------------------------------*
 | sidebar						|
 *------------------------------------------------------*/
div.esst_sidebar,
div.esst_sidebar_left,
div.esst_sidebar_right {
		color:		black;
		padding:	4px;
		background:	#fffff8;		/*#ffffcc & $ccffff are too bright*/
		border:		1px dashed #000099;
	}

div.esst_sidebar {		margin:	5px; }

div.esst_sidebar_left {		float:  left;
				margin: 5px 5px 5px 0;
				vertical-align: text-top;
			}
div.esst_sidebar_right {	float: right;
				margin: 5px 0 5px 5px;
				vertical-align: text-top;
			}


/*------------------------------------------------------*
 | showtabledata()					|
 *------------------------------------------------------*/
/*tr.esst_datatable_header - see above */
tr.esst_datatable_oddrow {	background: white;	color: black;}
tr.esst_datatable_evenrow{	background: #cccccc;	color: black;}
td.esst_datatable_sortcol{	background: #ffffcc;	color: black;}

tr.esst_oddrow {		background: white;	color: black;}
tr.esst_evenrow{		background: #cccccc;	color: black;}

option.textdivider, option.textdividersmall
	{
		color:		#000099;
		background:	#ffcc66;
		font-weight:	bold;
	}



/*------------------------------------------------------*
 | styles for form controls to ensure width is the same	|
 | for both browsers					|
 | (a)	style 'width' (% or px) is ok in MSIE, but	|
 |	Netscape ignores it				|
 | (b)	MSIE uses the requested font type, Netscape	|
 |	ignores it and always uses fixed-pitch font	|
 *------------------------------------------------------*/
input.esst_textinput,
input.esst_textinputright
	{
		font-family: 'Courier New', monospace;
	}
input.esst_textinputright
	{
		text-align: right;
	}

input.badparameter
	{
		color:		white;
		background:	red;
	}


/*------------------------------------------------------*
 | sitemap()						|
 *------------------------------------------------------*/
.esst_youwerehere
	{
		color:		red;
		background:	white;
		border:		1px solid red;
	/*	width:		100%;	truncates on right in MSIE */
		padding:	2px;
	}

/*------------------------------------------------------*
 | emitlink_file()					|
 *------------------------------------------------------*/
.esst_downloadsize
	{
		color:		black;
		background:	white;		/*#cccccc too dark, #eeeeee preferred but illegal*/
		border-bottom:	1px dotted red;
		/*font-weight:	bold; */
		cursor:		help;
		font-size:	8pt;
	}


/*------------------------------------------------------*
 | emitnew(), emitupdated()				|
 *------------------------------------------------------*/
.esst_new, .esst_updated
	{
		color:		red;
		background:	transparent;
		font-family:	'comic sans ms',fantasy,sans-serif;
		font-weight:	bold;
		font-style:	italic;
		font-size:	8pt;
	}

/*------------------------------------------------------*
 | emitrequiredfield()					|
 *------------------------------------------------------*/
.esst_requiredfield
	{
		color:		red;
		background:	transparent;
		font-weight:	bold;
		font-style:	italic;
	}

/*------------------------------------------------------*
 | emitfootnote()					|
 *------------------------------------------------------*/
.esst_footnote
	{
		color:		red;
		background:	transparent;
		font-weight:	bold;
		font-style:	italic;
		vertical-align: super;
	}


/*------------------------------------------------------*
 | emitlink_aztable()					|
 *------------------------------------------------------*/
ul.esst_aztable
	{
		list-style-type:	none; 
		margin:			0; 
		padding:		0;
		border:			1px solid #336699;
		width:			98%;
	}

ul.esst_aztable li
	{
		width:			3.8%;	/* 100%/26 = 3.846% (use 3.8 or else it wraps)*/
		margin:			0;
		padding:		0;
		border:			none;
		float:			left; 
	}

ul.esst_aztable li div
	{
		text-align:		center;
		vertical-align:		middle;
	}
	
/*li div.clfbar2_inline,
a.clfbar2_inline,
a.clfbar2_inline:link,
a.clfbar2_inline:visited,
a.clfbar2_inline:active,
a.clfbar2_inline:hover
	{
		color:			white;
		background:     	#336699;
		border-left:		#6699cc 1px solid;
		border-top:		#6699cc 1px solid;
		border-bottom:		black 1px solid;
		border-right:		black 1px solid;
		font-family:		arial,helvetica,sans-serif;
		font-weight:		bold;
		text-decoration: 	none;
		font-size:		12px;
	}

*/

/*------------------------------------------------------*
 | colours						|
 *------------------------------------------------------*/
.red,    .redbold	{	color:	#ff0000; background: transparent;}
.green,  .greenbold	{	color:	#00cc00; background: transparent;}	/*00ff00 is too light on white background*/
.blue,   .bluebold	{	color:	#0000ff; background: transparent;}
.cyan,   .cyanbold	{	color:	#00ffff; background: transparent;}
.magenta,.magentabold	{	color:	#ff00ff; background: transparent;}
.yellow, .yellowbold	{	color:	#ffff00; background: transparent;}
.purple, .purplebold	{	color:	#660066; background: transparent;}

.redbold,.greenbold,.bluebold,.cyanbold,.magentabold,.yellowbold,.purplebold
		{	font-weight:	bold;
		}

/*------------------------------------------------------*
 | replacement for <br clear="all">			|
 | http://ryanfait.com/articles/2006/10/15/breaking-css-floats |
 *------------------------------------------------------*/
.clearall	{	clear:	both; }
.clearleft	{	clear:	left; }
.clearright	{	clear:	right;}

/*------------------------------------------------------*
 | generic useful styles				|
 *------------------------------------------------------*/
.textcenter,.textcentre
		{	text-align:	center;	}
.textright	{	text-align:	right;	}
.italic,.italics{	font-style:	italic;	}
.strong		{	font-weight:	bold;	}
.serif		{	font-family:	'Times New Roman', serif; }
.smaller {	font-size:	smaller; }
.smallest { font-size:xx-small; } /* GL added to test showtabledata text_style=smallest */
.larger {	font-size:	larger; }

.dirindent	{	margin-left:	30px	}

.valigntop	{	vertical-align:	top; }
.valignbottom	{	vertical-align:	bottom; }
.nowrap		{	white-space:	nowrap;	}

img.noborder	{	border:		none;	}
img.border	{	border:		1px solid black; }

ul.disc 	{	list-style-type: disc;	}
ul.circle {		list-style-type: circle; }
ul.square {		list-style-type: square; }

ul.doublespace li, ol.doublespace li {
			margin-bottom:	2em; }

li.spaceabove {		margin-top:	2em; }


/*------------------------------------------------------*
 | this shows the URL at the bottom on the print version|
 | but not on the screen 				|
 *------------------------------------------------------*/
@media screen {
	div.pageurl {	display: none;}
}

@media print {
	div.pageurl {	font-size:	8pt; }
}


/*------------------------------------------------------*
 | used only for t=_ in _menu.txt			|
 *------------------------------------------------------*/
hr.esst_leftside_hr
	{
		color:		#993300;	/*intranet 003366 */
		background:	white;
		height:		1px;
	}


/*------------------------------------------------------*
 | extend CLF2 classes					|
 *------------------------------------------------------*/
.image-left {	padding: 5px 5px 5px 0px; }
.image-right {	padding: 5px 0px 5px 5px; }




/*------------------------------------------------------*
 | 3rd column graphic				|
 *------------------------------------------------------*/

/*3rd column 65 degree angle graphic	
div.right h2.nav { 
	color: #140;
	text-decoration: none;
	background: #FE8 url(../images/elements/h2nav-ne.gif) top left no-repeat;
	padding-left: 25px;
	font-style: italic;
}*/

/*  This uses the NRCan 65 degree angle graphic
h2.nav, h2.nav a:link, h2.nav a:visited {
	color: #FFF;
	text-decoration: none;

	
	background: #369 url(../images/h2nav.gif) bottom left no-repeat;
	padding-left: 25px;
	*/
	
	/* This is used to replace the NRCan 65 degree angle graphic	background-color: #369;
  
}  */


h2.nav3rdcol {	/*3rd column 65 degree angle graphic	*/
	font-size: 10.0pt;
	font-weight: 700;
	color: #FFF;
	text-decoration: none;

	background: #996600 url(/_sys/images/h2nav.gif) bottom left no-repeat; /*#713e13 */
	line-height: 1.6em;
	border: 0;
	padding-left: 25px;
	padding-right: 5px;
	margin: 0;
	/*padding-top: -10px;*/
}

/*------------------------------------------------------*
 | Expandable page 					|
 *------------------------------------------------------
div.page {
width : 100% !important;
}
*/