<?xml version="1.0" encoding="UTF-8"?>
<service-tester-config
	xmlns="http://www.auscope.org.au/xml/servicetester/config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.auscope.org.au/xml/servicetester/config config.xsd ">
	<service-location>
		http://localhost:8080/geoserver/wfs
	</service-location>
	<catalog-file>../schemas/catalog.xml</catalog-file>

	<test-case>
		<http-post-request>
			<request-file>
				../requests/MappedFeatureGaOracle-request.xml
			</request-file>
		</http-post-request>
		<response>
			<validation>
				<namespace>urn:cgi:xmlns:CGI:GeoSciML:2.0</namespace>
				<schema>../profiles/MappedFeatureGaOracle.xsd</schema>
			</validation>
		</response>
	</test-case>

	<test-case>
		<http-post-request>
			<request-file>
				../requests/MappedFeaturePostgis-request.xml
			</request-file>
		</http-post-request>
		<response>
			<validation>
				<namespace>urn:cgi:xmlns:CGI:GeoSciML:2.0</namespace>
				<schema>../profiles/MappedFeaturePostgis.xsd</schema>
			</validation>
		</response>
	</test-case>

	<test-case>
		<http-post-request>
			<request-file>
				../requests/MappedFeaturePropertyfile-request.xml
			</request-file>
		</http-post-request>
		<response>
			<validation>
				<namespace>urn:cgi:xmlns:CGI:GeoSciML:2.0</namespace>
				<schema>
					../profiles/MappedFeaturePropertyfile.xsd
				</schema>
			</validation>
		</response>
	</test-case>

	<test-case>
		<http-post-request>
			<request-file>
				../requests/MappedFeatureShapefile-request.xml
			</request-file>
		</http-post-request>
		<response>
			<validation>
				<namespace>urn:cgi:xmlns:CGI:GeoSciML:2.0</namespace>
				<schema>../profiles/MappedFeatureShapefile.xsd</schema>
			</validation>
		</response>
	</test-case>

</service-tester-config>
